@media screen and (max-width: 1023px) {

    /* MENU */

    #menu{
        width: 100%;
        margin: 0px !important;
    }

    header{
        padding: 0 !important;
    }

    .menu-desktop{
        display: none;
    }

    .top-menu{
        flex-direction: column;
    }
    
    .interface, .filtro{
        margin-bottom: 20px;
    }

    .logo{
        margin-right: 250px;
    }

    select{
        padding: 10px 220px !important;
        font-size: 20px !important;
        text-align: center;
        }

    /* FILTRO */

    /* VITRINE */

    #vitrine{
        font-size: 20px;
    }

    .col{
        flex-direction: column;
    }

    #vitrine .box{
        column-count: 1 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .perfil{
        max-width: 1023px;
    }
    .painel{
        min-width: 100%;
    }
    .painel img{
        border-radius: 50px !important;
    }
    .bnt{
        padding: 15px 25px !important;
    }

    .box{
        max-width: 720px;
    }
}

@media screen and (max-width: 720px) {

    /* MENU */

    #menu{
        max-width: 100%;
        margin: 0px !important;
    }

    .top-menu, .interface{
        max-width: 100% !important;
    }
    .logo{
        margin-right: 50px;
    }

    .menu-desktop{
        display: none;
    }

    /* FILTRO */

    .filtro{
        font-size: 5px;
    }

    /* VITRINE */

    #vitrine{
        font-size: 15px;
        padding-top: 300px !important;
    }
    .painel{
        min-width: 300px;
    }

    .perfil{
        max-width: 1200px;
    }

    select{
        padding: 10px 70px !important;
        font-size: 20px !important;
    }

    .box{
        max-width: 320px;
        margin: 0 auto !important;
    }

    .col{
        flex-direction: column;
        padding: 10px !important;
        align-items: center;
    }

    #vitrine{
        width: 100%;
    }

    .bnt{
        padding: 10px 20px !important;
    }

    #vitrine ol{
        margin: 0;
        padding: 0;
    }

    #footer_content{
        max-width: 320px;
        flex-direction: column;
        margin: 0 auto;
    }
}


/* HTML */

html{
    background-color:#B0C4DE;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
}

ul, ol{
    list-style: none;
    padding: 0 35px;
}

body{
    margin: 0;
    padding: 0;
}

h3{
    font-weight: 400px;
}

h4{
    color: #333;
    font-weight: 600px;   
}

button{
    font-weight: 300px;
}

/* Geral */

.box{
    width: 1366px;
    margin: 0 auto;
}

.icon{
    width: 150px;
    border-radius: 100%;
}

.col{
    display: flex;
    justify-content: space-between;
    padding: 50 60 5 60;
}

.interface{
    max-width: 1280px;
}


/* MENU */

#menu{
    width: 100%;
    padding: 10px 0;
    margin: 0;
    margin-bottom: 50px;
    position: fixed;
    background-color:#B0C4DE;
    font-family: "Poppins", sans-serif;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header{
    padding: 40px 4%;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    list-style: none;
}

header nav li{
    display: inline-block;
    padding: 0 40px;
}

header a{
    color: #363636;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

header .btn-cadastro button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 600;
    background-color: #4169E1;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header .btn-cadastro button:hover{
    box-shadow: 0px 0px 8px #4169e1;
}

.logo img{
   width: 130px;
}

.top-menu{
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
}

/* FILTRO */

.filtro{
    display: flex;
    flex-direction: row-reverse;
    display: inline-block;
}

.filter::after{
    
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;

}

select{
    padding: 10px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    color: #333;
    background-color: #4169E1;
    border-radius: 10px;
}


/* VITRINI */

#vitrine{
    width: 100%;
    padding-top: 330px;

}

.perfil{
    padding: 20px;
    margin: 20px 60px;
    break-inside: avoid;
    margin: 0 20 1em 20;
    border: 2px;
    border-radius: 15px;
    background-color: #F0F8FF;
}

#vitrine .box{
    column-count: 2;
    column-width: 630px;
    column-gap: 20px;
}

.painel{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.painel img{
    width: 100%;
    border-radius: 50px 50px 0 50px;
}

.bnt{
    margin: 0 auto;
    border: solid 2px #4F4F4F;
    border-radius: 50%;
    padding: 15px 25px;
    background-color: #4169E1;
    color: #4F4F4F;
    
}

.botão{
    display: flex;
    margin-bottom: 20px;
}

/* RODAPÉ */

footer{
    width: 100%;
    color:black;
    background-color: #4169E1;
    margin-top: 30px;
}

.footer-logo{
    width: 70px;
}

.footer-logo img{
    width: 100%;
}

#footer_content{
    background-color:#4169E1;
    display: flex;
    grid-template-columns: repeat(4, 1fr); /* para as 4 colunas ficarem lado a lado */
    padding: 40px 50px;    
}

#footer_contacts h1{
    margin-bottom: 15px ;
}

#footer_social_media img{
 width:20px;
 height:20px ;
 
}


#footer_social_media ul{
    display: flex;
    gap: 20px; /*espaçameento entre icones sociais*/
    margin-top: 5px;
    list-style: none;
}

#footer_social_media a{
    color: #000000;
}


.footer-list{
    display: flex;
    flex-direction: column;
    gap: 8px; /*espaçameento entre linhas da lista*/
    list-style: none;
}

.footer-list a:hover{
    color: #fff;
    transform: scale(1.05);
}

.footer-list a{
    color: #363636;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#input_group{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 4px;
}

#input_group input{
    all: unset; /*para tirar toda estilização padrão*/
    padding: 8px;
    width: 100%;
}

#input_group button{
    background-color: #fff;
    border: none;
    color: black;
    padding: 0px 20px;
    font-size: 18px;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}


#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 12px; /*tamahno da fonte*/
    padding: 20px;
    font-weight: 100;/*intensidade da fonte*/
}