.filter{
    position: relative;
    display: inline-block;
}

.filter::after{
    
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;

}

select{
    padding: 8px;
    font-size: 14px;
}